section{
    width: 80%;
    height: 800px;
    /* background-image: url("https://images.unsplash.com/photo-1716404084927-176ee37a9dbe?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: contain;
    background-position: top; */
    background: url("https://images.unsplash.com/photo-1716404084927-176ee37a9dbe?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center/cover;
    margin: 0 auto;
}

h1{
    font-size: 100px;
    color: white;
}